*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#aboutSection1
{
    height:100vh;
    background-image: url('../Assests/img/backsec1.png');
    background-size: cover;
}
#aboutSection1 .container
{
    padding-top: 200px;
}
#aboutSection1 .row h1
{
    color: #fff;
    font-weight: bold;
}
#aboutSection1 .row span
{
    border-bottom: 2px solid #ffff;
}
#aboutSection1 .row p
{
    color: #fff;
    margin-top: 30px;
    font-weight: bold;
}
#aboutSection2 h1
{
    text-align: center;
}
#aboutSection2 span
{
    border-bottom: 2px solid #000;
}
#aboutSection2 .row h3
{
    text-align: center;
    font-weight: bold;
}
#aboutSection2 .row ul 
{
    margin-top: 30px;
}