*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#product1
{
    height:100vh;
    background:url('../Assests/img/newBack.png');
    background-size: cover;
    background-attachment: fixed;
}
#product1 .container
{
    padding-top:80px;
}
#product1 h1
{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size:3rem;
}
#product1 p
{
    color: #fff;
    font-size:1.4rem;
    font-weight: bold;
    text-align: center;
    margin-top:20px;
}
#product1  span
{
    border-bottom: 2px solid #fff;
}
#product1 .btn
{
    background:#fff;
    font-weight: bold;
    border-radius: 0;
    font-size:1.4rem;
    box-shadow: none;
}
#product2
{
    text-align: center;
}
#product2 ul
{
    margin-top: 40px;
}
#product2 ul li
{
    text-align: left;
    font-weight: bold;

}

#product2 h3
{
    text-align: center;
    font-weight: bold;
    color: #1976d2;
    margin-top: 20px;
}
#product2  .content 
{
    margin-top: 20px;
    border: 0px solid #000;
    height:320px;
}
#product2 span
{
    border-bottom: 2px solid #1976d2;
}

#product2  img
{
    height:50px;
}

#product3  img
{
    height:50px;
}
#product3 span
{
    border-bottom: 2px solid #1976d2;
}
#product3  
{
    text-align: center;
}
#product3 ul li
{
    text-align: left;
    font-weight: bold;
}
#product3 ul
{
    margin-top: 40px;
}
#product3 h3
{
    text-align: center;
    font-weight: bold;
    color: #1976d2;
    margin-top: 20px;
}
#product3  .content 
{
    margin-top: 20px;
    border: 0px solid #000;
    height:200px;
}

#product4 h1
{
    text-align: center;
    font-weight: bold;
}
#product4 span
{
    border-bottom: 3px solid #1976d2;
}
#product4 .row h3
{
    text-align: center;
    font-weight: bold;
    color: #1976d2;
    margin-top: 20px;
}
#product4 img
{
    height:50px;
}
#product4 
{
    text-align: center;
}
#product4 ul li
{
    text-align: left;
    font-weight: bold;
}
#product4 p
{
    color: #000;
    font-weight: bold;
}