*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#product1
{
    height:100vh;
    background:url('../Assests/img/newBack.png');
    background-size: cover;
}
#product1 .container
{
    padding-top:150px;
}
#product1 h1
{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size:3rem;
}
#product1 p
{
    color: #fff;
    font-size:1.4rem;
    font-weight: bold;
    text-align: center;
    margin-top:20px;
}
#product1  span
{
    border-bottom: 2px solid #fff;
}
#product1 .btn
{
    background:#fff;
    font-weight: bold;
    border-radius: 0;
    font-size:1.4rem;
    box-shadow: none;
}
#product2 h3
{
    text-align: center;
    font-weight: bold;
}
#product2  .content 
{
    margin-top: 20px;
    border: 0px solid #000;
    height:320px;

  
}

#product3 h3
{
    text-align: center;
    font-weight: bold;
}
#product3  .content 
{
    margin-top: 20px;
    border: 0px solid #000;
    height:200px;

  
}
