* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar ul li a {
  font-weight: bold;
  color: #fff !important;
  transition: 2s;
  position: relative;
}
.navbar ul li a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  background: #fff;
  bottom: 0;
  transition: 0.44s;
  overflow: hidden;
}
.navbar ul li a:hover::before {
  width: 100%;
  overflow: hidden;
}
.fixed-top.scrolled {
  background-color: #000 !important;
  transition: background-color 1s ease-in-out;
}