*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#carrier1
{
    height: 70vh;
    background-image: url('../Assests/img/handshake.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#carrier1 .container
{
    padding-top:8px;
}
#carrier1 h1
{
    text-align: center;
    font-size:3rem;
    color: #fff;
}
#carrier1 p
{
    color: #fff;
    font-weight: bold;
}
#carrier2 h1
{
    text-align: center;
}
#carrier2 span
{
    font-weight: bold;
    border-bottom: 2px solid #000;
}
#carrier2 h3
{
    font-weight: bold;
    font-size:1.5rem;
}
#carrier2 p
{
    font-weight: bolder;

}
#carrier2  .btn
{
    background:#bf360c;
    color: #fff;
    font-weight: bold;
    box-shadow: none;
    border-radius:0;
    margin-top:20px;
}
#carrier2  .btn {
    background: #1976d2;
    color: #fff;
    padding: 8px 20px;
    border-radius: 0px;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    border: none;
    overflow: hidden;
    transition: 0.78s;
    z-index: 0;
    box-shadow: none;
  }
  
  #carrier2  .btn::after {
    position: absolute;
    content: "";
    height: 0px;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    overflow: hidden;
    right: 0;
    transition: 0.78s;
    overflow: hidden;
    z-index: -1;
  }
  #carrier2  .btn:hover::after {
    height: 50px;
  }
  #carrier2  .btn:hover {
    color: #fff;
  }
  