* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

#section1 
{
  height: 100vh;
  background-image: url('../img/third.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-animation: mymove 10s linear infinite;
}
@keyframes mymove {
    0% {
        background-image: url('../img/third.png')
    }
    25%
    {
        background-image: url('../img/christian-wiediger-WkfDrhxDMC8-unsplash.jpg')
    }
    50%
    {
        background-image: url('../img/sec.png')
    }
    75%
    {
        background-image: url('../img/joshua-reddekopp-SyYmXSDnJ54-unsplash.jpg')
    }
    100%{background-image: url('../img/footernew.png')
    }
}
  

#section1 .container {
  padding-top: 100px;
  text-align: center;
}
#section1 .container h1 {
  color: #fff;
  font-size: 4rem;
  text-shadow: 2px 2px 10px;
  margin-top: 70px;
}
#section1 .container p {
  color: #fff;
  font-size: 1.4rem;
}
#section1 .container .btn {
  background: #bf360c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0px;
  font-size: 1.2rem;
  font-weight: bold;
}

#section2 h1
{
    text-align: center;
    position: relative;
}

#section2 h1::before
{
    content: '';
    height:3px;
    background:#bf360c;
    width:100%;
    position:absolute;
    top: 110%;
    width:22%;
}
#section2 .row h1
{
    text-align: left;
}
#section2 .row h2
{
    font-weight: bold;
}
#section2 .row h3
{
    font-weight:bold;
}
#section2 .btn {
    border: none;
    background: #bf360c;
    color: #fff;
    border-radius: 0;
    padding:10px 20px;
    font-weight: bold;
}
#section3 h1
{ 
    text-align: center;
    position: relative;
}
#section3 h1::before
{
    content: '';
    height:3px;
    background:#bf360c;
    width:150px;
    position:absolute;
    top: 110%;
}
#section3 .row .card
{
    border: 1px solid #eeeeee;
    height:650px;
}
#section3 .row .card h2
{
    color: #bf360c;
    font-weight: bold;
}
#section3 .row .card ul li 
{
    color: #000;
    list-style-type:square;
    padding:2px;
}
#section4
{
    background:#eeeeee;
}
#section4 h3
{
    font-weight: bold;
}
#section4 h1
{
    font-weight: bold;
    color: #bf360c;
    position: relative;
}
#section4 h1::before
{
    content: '';
    height:2px;
    position:absolute;
    top: 120%;
    left: 0;
    width:50%;
    background:#bf360c;
}
#section4 img
{
    height:60px;
}
#section4 h3
{
    margin-top: 20px;
    color: #bf360c;
}
#section5 h1
{
    color: #bf360c;
    position: relative;
    font-weight: bold;  
}
#section5 h1::before
{
    content: '';
    height:2px;
    position:absolute;
    top: 105%;
    left: 0;
    width:22%;
    background:#bf360c;
}
#section5 .btn
{
    background:#bf360c;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
}
#section6
{
    background:url('../img/footernew.png');
    background-size: cover;
    background-position: center;
}
#section6 p
{
    color: #fff;
    font-weight: bold;
}
#section6 h2
{
    color: #fff;
    font-weight: bold;
}
#section6 .row ul li
{
    color: #fff;
    list-style: none;
    font-weight: bold;
}
#section6 .row ul li i
{
    color: #fff;
    font-size: 10px;
}
#footerSec
{
    background-color: #000;
}
#footerSec p
{
    color: #fff;
}