* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

#section1 {
  height: 100vh;
  background-image: url("../img/newQuad.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@keyframes mymove {
  0% {
    background-image: url("../img/third.png");
  }
  25% {
    background-image: url("../img/christian-wiediger-WkfDrhxDMC8-unsplash.jpg");
  }
  50% {
    background-image: url("../img/sec.png");
  }
  75% {
    background-image: url("../img/joshua-reddekopp-SyYmXSDnJ54-unsplash.jpg");
  }
  100% {
    background-image: url("../img/footernew.png");
  }
}

#section1 .container {
 
  text-align: center;
}
#section1 .container h1 {
  color: #fff;
  font-size: 4rem;
  text-shadow: 10px 10px 50px #000;
  margin-top: 70px;
}
#section1 .container p {
  color: #fff;
  font-size: 1.4rem;
}
#section1 .container .btn {
  background: #1976d2;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0px;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  border: none;
  overflow: hidden;
  transition: 0.78s;
  z-index: 0;
  box-shadow: none;
}

#section1 .container .btn::after {
  position: absolute;
  content: "";
  height: 0px;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  overflow: hidden;
  right: 0;
  transition: 0.78s;
  overflow: hidden;
  z-index: -1;
}
#section1 .container .btn:hover::after {
  height: 50px;
}
#section1 .container .btn:hover {
    color: #fff;

}

#section2 h1 {
  text-align: center;
  position: relative;
  font-weight: bold;
}

#section2 h1::before {
  content: "";
  height: 3px;
  background: #0288d1;
  width: 100%;
  position: absolute;
  top: 110%;
  width: 22%;
}
#section2 .row h1 {
  text-align: left;
}
#section2 .row h2 {
  font-weight: bold;
}
#section2 .row h3 {
  font-weight: bold;
}
#section2 .btn {
    background: #1976d2;
    color: #fff;
    padding: 8px 20px;
    border-radius: 0px;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    border: none;
    overflow: hidden;
    transition: 0.78s;
    z-index: 0;
    box-shadow: none;
}

#section2 .btn::after {
    position: absolute;
    content: "";
    height: 0px;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    overflow: hidden;
    right: 0;
    transition: 0.78s;
    overflow: hidden;
    z-index: -1;
  }
  #section2 .btn:hover::after {
    height: 50px;
  }
  #section2  .btn:hover {
      color: #fff;
  
  }
  #section2 p
  {
      font-weight: bold;
  }

#section3 h1 {
    font-weight: bold;
  position: relative;

}
#section3 h1::before {
  content: "";
  height: 3px;
  background: #0288d1;
  width: 230px;
  position: absolute;
  top: 110%;
}
#section3 .row .card {
  border: 1px solid #eeeeee;
  height: 650px;
}
#section3 .row .card h2 {
  color: #0288d1;
  font-weight: bold;
}
#section3 .row .card ul li {
  color: #000;
  list-style-type: disc;
  padding: 2px;
}
#section4 {
  background: #eeeeee;
}
#section4 h3 {
  font-weight: bold;
}
#section4 p 
{
    font-weight: bold;
}
#section4 h1 {
  font-weight: bold;
  color: #000;
  position: relative;
}
#section4 h1::before {
  content: "";
  height: 2px;
  position: absolute;
  top: 120%;
  left: 0;
  width: 50%;
  background: #0288d1;
}
#section4 img {
  height: 60px;
}
#section4 h3 {
  margin-top: 20px;
  color: #0288d1;
}
#section5 h1 {
  color: #000;
  position: relative;
  font-weight: bold;
}
#section5 h1::before {
  content: "";
  height: 2px;
  position: absolute;
  top: 105%;
  left: 0;
  width: 25%;
  background: #0288d1;
}
#section5 .btn {
    background: #1976d2;
    color: #fff;
    padding: 8px 20px;
    border-radius: 0px;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    border: none;
    overflow: hidden;
    transition: 0.78s;
    z-index: 0;
    box-shadow: none;
}

#section5 .btn::after {
    position: absolute;
    content: "";
    height: 0px;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    overflow: hidden;
    right: 0;
    transition: 0.78s;
    overflow: hidden;
    z-index: -1;
  }
  #section5 .btn:hover::after {
    height: 50px;
  }
  #section5  .btn:hover {
      color: #fff;
  
  }
#section6 {
  background: url("../img/footernew.png");
  background-size: cover;
  background-position: center;
}
#section6 p {
  color: #fff;
  font-weight: bold;
}
#section6 h2 {
  color: #fff;
  font-weight: bold;
}
#section6 .row ul li {
  color: #fff;
  list-style: none;
  font-weight: bold;
}
#section6 .row ul li i {
  color: #fff;
  font-size: 10px;
}
#footerSec {
  background-color: #000;
}
#footerSec p {
  color: #fff;
}
